
#letters{
	display:inline-block;
	border:2px solid red;

}
.A{
	font-size:65px;
	width: 80px;
	height: 80px;
	text-align: center;
	border-radius: 50%;
	border:3px solid red;
	background-color: red;
	color:white;
	float: left;
	margin-left: 8px;
}
.B{
	font-size: 65px;
	width: 80px;
	height: 80px;
	text-align: center;
	border-radius: 50%;
	border:3px solid red;
	background-color: red;
	color:white;
	float: left;
	margin-left: 8px;

}
.C{
	font-size: 65px;
	width: 80px;
	height: 80px;
	text-align: center;
	border-radius: 50%;
	border:3px solid red;
	background-color: red;
	color:white;
	float: left;
	margin-left: 8px;

}
.D{
	font-size: 65px;
	width: 80px;
	height: 80px;
	text-align: center;
	border-radius: 50%;
	border:3px solid red;
	background-color: red;
	color:white;
	float: left;
	margin-left: 8px;

}.E{
	font-size: 65px;
	width: 80px;
	height: 80px;
	text-align: center;
	border-radius: 50%;
	border:3px solid red;
	background-color: red;
	color:white;
	float: left;
	margin-left: 8px;

}
.F{
	font-size: 65px;
	width: 80px;
	height: 80px;
	text-align: center;
	border-radius: 50%;
	border:3px solid red;
	background-color: red;
	color:white;
	float: left;
	margin-left: 8px;

}
.G{
	font-size: 65px;
	width: 80px;
	height: 80px;
	text-align: center;
	border-radius: 50%;
	border:3px solid red;
	background-color: red;
	color:white;
	float: left;
	margin-left: 8px;

}
.H{
	font-size: 65px;
	width: 80px;
	height: 80px;
	text-align: center;
	border-radius: 50%;
	border:3px solid red;
	background-color: red;
	color:white;
	float: left;
	margin-left: 8px;

}
.I{
	font-size: 65px;
	width: 80px;
	height: 80px;
	text-align: center;
	border-radius: 50%;
	border:3px solid red;
	background-color: red;
	color:white;
	float: left;
	margin-left: 8px;
	

}
.J{
	font-size: 65px;
	width: 80px;
	height: 80px;
	text-align: center;
	border-radius: 50%;
	border:3px solid red;
	background-color: red;
	color:white;
	float: left;
	margin-left: 8px;

}
.K{
	font-size: 65px;
	width: 80px;
	height: 80px;
	text-align: center;
	border-radius: 50%;
	border:3px solid red;
	background-color: red;
	color:white;
	float: left;
	margin-left: 8px;

}
.L{
	font-size: 65px;
	width: 80px;
	height: 80px;
	text-align: center;
	border-radius: 50%;
	border:3px solid red;
	background-color: red;
	color:white;
	float: left;
	margin-left: 8px;

}